@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadows {
    box-shadow: 0px 5px 34px 13px rgba(0,0,0,0.1);

}

@keyframes heart-beat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
}

.animate-heartbeat {
  animation: heart-beat 1.2s infinite;
}